/* Estilos globales */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    font-family: Arial, sans-serif;
}

/* Contenedor principal */
.container {
    text-align: center;
    padding: 20px;
}

/* Logo */
.logo {
    width: 200%; /* Ajusta el tamaño del logo */
    max-width: 600px; /* Tamaño máximo */
    margin-bottom: 20px;
}

/* Mensaje */
.message {
    font-size: 24px;
    font-weight: bold;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    .logo {
        width: 80%; /* Hacer el logo más pequeño en pantallas pequeñas */
        max-width: 300px; /* Tamaño máximo más pequeño */
    }

    .message {
        font-size: 20px; /* Reducir el tamaño de la fuente en móviles */
    }
}

@media (max-width: 480px) {
    .logo {
        width: 90%; /* Hacer el logo aún más pequeño en pantallas extra pequeñas */
        max-width: 250px; /* Tamaño máximo aún más pequeño */
    }

    .message {
        font-size: 18px; /* Hacer el texto más pequeño */
    }
}
